@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    /* overflow: hidden; */
    font-family: 'Red Hat Display', sans-serif;
    background: hsl(225, 100%, 94%);
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-repeat: no-repeat;
}

.container{
    max-width: 21rem;
    width: 90vw;
    padding-bottom:2.5rem;
    background: #fff;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    gap:1.5rem;
    border-radius: 1rem;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.illustration{
    width: 100%;
    /* max-width: 24; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.price-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    background: hsl(225, 100%, 98%);
    padding: 1rem;
    border-radius: 1rem;
    width: 90vw;
    max-width: 20rem;
}
.price-details>div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.price-details>div>div{
    display: flex;
    flex-direction: column;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 90vw;
    max-width: 20rem;
}
button{
    all:unset;
    /* display: block; */
    font-weight: 700;
    font-size: .95rem;
}
button:first-of-type{
    background: hsl(245, 75%, 52%);
    border-radius: 1rem;
    color: #fff;
    padding:1rem 1rem;
    width: 90wv;
    max-width: 20rem;
}
button:last-of-type, p{
    color:hsl(224, 23%, 55%);
    max-width:90vw;
}
h1{
    color: hsl(223, 47%, 23%);
    max-width: 88vw;
}

@media(max-width:300px){
    .price-details{
        gap:1rem;
        font-size: .95rem;
    }
    .price-details>div{
        gap:.5rem;
    }
}
@media(max-width: 1440px) and (min-width: 375px){
    body{
        background-image: url(./images/pattern-background-desktop.svg);
    }
}
@media(max-width:375px){
    body{
        background-image: url(./images/pattern-background-mobile.svg);
    }
}
