/* mobile first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: calc(1em + .5rem);
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
main>section{
    width: 90vw;
    margin-inline: auto;
}
.header{
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-top: 10rem;
    text-align: center;
}
.header h1{
    font-size: 3.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: hsl(234, 12%, 34%);
}
.header h2{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: hsl(234, 12%, 34%);
}
.header p{
    font-weight: 400;
    font-size: 1.5rem;
    color: hsl(229, 6%, 66%);
}
.card{
    background: #fff;
    box-shadow: .1rem .3rem 2rem .3rem #1e2e3d33;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 23rem;
    /* max-width: 25rem; */
}
.card img{
    max-width: 5rem;
    align-self: flex-end;
    justify-self: end;
    margin-top: auto;
}
.cyan{
    border-top: solid .5rem hsl(180, 62%, 55%);
}
.red{
    border-top: solid .5rem hsl(0, 78%, 62%);
}
.orange{
    border-top: solid .5rem hsl(34, 97%, 64%);
}
.blue{
    border-top: solid .5rem hsl(212, 86%, 64%);
}

/* grid cards */

.card p{
    font-size: 1.5rem;
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    /* line-height: ; */
    max-width: 30ch;
}
.card h1{
    font-size: 2rem;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

.cards{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    margin-block: 7rem;
    max-width: 95rem;
    place-items: center;
    margin-inline: auto;
}

@media(min-width:500px){
    .cards{
        grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    }
}

@media(min-width:1024px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
            "start mid1 end"
            "start mid2 end";
    }
    .card{
        width: 30rem;
        height: 18rem;
    }
    .card.cyan{
        grid-area: start;
        height: 50%;
        /* margin-block: auto; */
        /* place-self: right; */
    }
    .card.blue{
        grid-area: end;
        height: 50%;
    }
    .card.red{
        grid-area: mid1;
    }
    .card.orange{
        grid-area: mid2;
    }
}
