@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Outfit', sans-serif;
}
body{
    display:grid;
    min-height: 100vh;
    place-items:center;
    background: hsl(212, 45%, 89%);
}
.container{
    max-width: 18.65rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    text-align: center;
}
.qr{
    width: 80vw;
    max-width: 16.65rem;
    /* background: red; */
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    background: #2c7dfa;
    border-radius: 1rem;
}
.qr-code{
    max-width: 10rem;
    width: 80%;
}
strong{
    font-size: 1.205rem;
}
p{
    font: 15px;
    margin-bottom: 2.5rem;
}

